Flask==0.10.1
Flask-Cors==2.1.0
gevent==1.1.2
gunicorn==19.7.0
PyYAML==3.11
boto==2.38.0
elasticsearch-dsl>=5.0.0,<6.0.0
jsonschema==2.5.1
aws-requests-auth==0.2.5
docopt
fuzzywuzzy == 0.14.0
python-Levenshtein == 0.12.0
requests == 2.12.5
urllib3 == 1.19.1
